<%# show individual workout 
join table?

%>
<h2><%=individual_workout[0]['workout_name']%></h2>
<main id="individual-routine">
  <% individual_workout.each do |exercise| %>
    <div>
      <li><%= exercise['name']%> <a href="/workouts/<%=exercise['workout_id']%>/<%=exercise['exercise_id']%>/edit">Edit</a>
        <form action="/workouts/<%=exercise['workout_id']%>/<%=exercise['exercise_id']%>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </li>
      <li><img src="<%= exercise['image_url']%>" alt=""></li>
      <li>Weight: <%= exercise['weight']%></li>
      <li>Reps: <%= exercise['reps']%></li>
      <li>Sets: <%= exercise['sets']%></li> 
    </div>
  <% end %>
</main>


